.top-box {
  min-height: 500px;
  background-color: white;
}

.title {
  text-align: center;
  color: rgb(56, 35, 9);
}

.parallax-top-box {
  height: auto;
  color: grey;
  font-size: 600px;
}

.parallax-top-content {
  width: 100%;
  height: 1000px;
  position: relative;
  left: 0;
  z-index: 4;
}

.bottom-block {
  min-height: 500px;
  background-color: grey;
  z-index: 5;
  overflow: 'hidden';
}

.parallax-bottom-box {
  width: 100%;
  height: 1000px;
  position: relative;
  left: 0;
  z-index: 4;
}

.parallax-bottom-content {
  width: 400px;
  height: 400px;
}
